.canvas-container
    background: $fifth_color
    background-repeat: repeat
    flex-grow: 1
    height: calc(100vh - 200px)
    position: relative
    margin: 5px 10px

    .backround
        background-image: url('../assets/bg-canvas.png')


    .canvas_main 
        position: absolute
        border: 1px solid black
        top: 0
        image-rendering: pixelated
        z-index: 2
        border: 0

    .shadow-canvas
        position: absolute
        border: 0
        top: 0
        image-rendering: pixelated
        z-index: 1

    .path-canvas
        image-rendering: pixelated

