._pen-size 
    +flex(column, center, stretch)
    box-sizing: content-box

    span 
        margin: 10px 0
        font-size: 1rem
        text-align: center

    ._line 
        +flex(row, space-between)
        flex-wrap: wrap
        width: 100px

        ._item 
            +button
            width: 20px
            height: 20px
            font-size: 0.7rem

        .selected
            border: 2px solid red !important